.switch {
  display: flex;
  position: relative;
  font-size: 14px;
  font-family: "Cabinet-Bold", sans-serif;
  cursor: pointer;
}

.switch__box {
  border-radius: 25px;
  border: 2px solid #7e7e7e;
  width: 56px;
  height: 28px;
  appearance: none;
  background-color: transparent;
}

.switch__slider {
  border-radius: 20px;
  width: 28px;
  height: 28px;
  background-color: #000;
  color: #fff;
  text-align: center;
  position: absolute;
  transition: transform 0.3s ease;
  transform: translateX(0);
}

.switch__slider-C {
  transform: translateX(28px);
}

.switch__slider-F {
  transform: translateX(0);
}

.switch__temp-F,
.switch__temp-C {
  position: absolute;
  top: -8px;
  transition: color 0.3s ease;
  color: #7e7e7e;
}

.switch__temp-F {
  left: 10px;
}

.switch__temp-C {
  left: 37px;
}

.switch__active {
  color: #fff;
  line-height: 1.2;
}
