.modal__close_btn {
  background: none;
  border: none;
}

.modal__buttons {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 20px;
}

.modal__button {
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-family: "Cabinet-Bold", sans-serif;
  font-size: 16px;
  background-color: transparent;
}

.modal__button_confirm {
  color: #ff4d00;
  font-weight: 700;
  font-size: 20px;
}

.modal__button-cancel {
  font-weight: 700;
  font-size: 20px;
}

.modal__caption-confirm {
  text-align: center;
  margin: 0;
  width: 100%;
  margin-top: 40px;
}

.modal__content-confirm {
  max-width: 670px;
  height: 280px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal__sub-caption {
  margin: 0;
}
