.weather__temp-container {
  position: relative;
}

.weather__card {
  position: relative;
  font-family: "Cabinet-Bold", sans-serif;
  font-weight: 700;
  line-height: 1.2;
}

.weather__card-img {
  max-width: 1360px;
  height: 80px;
  object-fit: cover;
  object-position: right top;
  width: 100%;
  display: flex;
  border-radius: 12px;
  margin-bottom: 40px;
}

.weather__card-text {
  color: white;
  font-size: 36px;
  position: absolute;
  margin: 20px 16px;
  transition: opacity 0.4s ease, transform 0.4s ease, scale 0.4s ease;
}

.fade-out {
  opacity: 0;
  transform: translateX(-10px) scaleX(0.1);
}

.fade-in {
  opacity: 1;
  transform: translateX(0) scaleX(1);
}
