.header {
  display: flex;
  align-items: center;
  padding: 32px 0 28px;
  font-family: "Cabinet-Bold", sans-serif;
  font-weight: 700;
  line-height: 1.2;
}

.header__logo {
  width: 89px;
  height: 40px;
  margin-right: 24px;
}

.header__date-and-location {
  font-size: 20px;
  line-height: 1.2;
  margin: 0;
}

.header__user-container {
  display: flex;
  align-items: center;
  gap: 12px;
}

.header__avatar {
  width: 40px;
  height: 40px;
}

.header__user-name {
  margin: 0;
  font-size: 20px;
  line-height: 1.2;
}

.header__btn-container {
  margin: 0 0 0 auto;
  display: flex;
  align-items: center;
}

.header__add-clothes-btn {
  border: 0;
  font-size: 20px;
  line-height: 1.2;
  cursor: pointer;
  font-family: "Cabinet-Bold", sans-serif;
  font-weight: 700;
  background-color: transparent;
  padding: 0 20px;
}

.header__url {
  text-decoration: none;
  color: #000;
}
